<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="~/Content/imgs/favicon.ico" />
    <title> Gobierno del Estado de Nayarit - SIEGEN</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/DesignLayout.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css' />
</head>
<body>
    <!--banner de letras-->
    <nav class="text-xl-center">
        <div style="background-color:dimgrey">
            <img src="~/Content/imgs/SIEGEN_LETRAS.png" style="width:50%" />
        </div>
    </nav>
    <!--banner de logotipos-->
    <div class="row">
        <div class="container" id="div-img-container" style="">
            <div class="row justify-content-center">
                <div class="col-12 px-0">
                    <img src="~/Content/imgs/banner_siegen2.jpg" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
    <!--Menú-->
    <div class="container" style="padding-left: 0%;padding-right: 0%;">
        <nav class="text-xl-center">
            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:red">
                    <a class="navbar-brand" href="#">Inicio</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--Menu dinamico-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Conócenos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Antecedentes</a>
                                    <a class="dropdown-item" href="#">Misión y Visión</a>
                                    <a class="dropdown-item" href="#">Objetivo</a>
                                    <a class="dropdown-item" href="#">Marco Jurídico</a>
                                    <a class="dropdown-item" href="#">Contacto</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Normatividad
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Programa Estatal de Estadisticas</a>
                                    <a class="dropdown-item" href="#">Proyectos</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Subsistemas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Convenio</a>
                                    <a class="dropdown-item" href="#">Bases</a>
                                    <a class="dropdown-item" href="#">PAT</a>
                                    <a class="dropdown-item" href="#">Organigrama</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Datos Abiertos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Plan Estatal de Desarrollo</a>
                                    <a class="dropdown-item" href="#">Agenda Economico y Social</a>
                                    <a class="dropdown-item" href="#">SIG Nayarit</a>
                                    <a class="dropdown-item" href="#">REN</a>
                                    <a class="dropdown-item" href="#">Mapas Mundiales</a>
                                    <a class="dropdown-item" href="#">Interes Global</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Indicadores
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Plan Estatal de Desarrollo</a>
                                    <a class="dropdown-item" href="#">Agenda Economico y Social</a>
                                    <a class="dropdown-item" href="#">SIG Nayarit</a>
                                    <a class="dropdown-item" href="#">REN</a>
                                    <a class="dropdown-item" href="#">Mapas Mundiales</a>
                                    <a class="dropdown-item" href="#">Interes Global</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Municipios
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Plan Estatal de Desarrollo</a>
                                    <a class="dropdown-item" href="#">Agenda Economico y Social</a>
                                    <a class="dropdown-item" href="#">SIG Nayarit</a>
                                    <a class="dropdown-item" href="#">REN</a>
                                    <a class="dropdown-item" href="#">Mapas Mundiales</a>
                                    <a class="dropdown-item" href="#">Interes Global</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Comité
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Plan Estatal de Desarrollo</a>
                                    <a class="dropdown-item" href="#">Agenda Economico y Social</a>
                                    <a class="dropdown-item" href="#">SIG Nayarit</a>
                                    <a class="dropdown-item" href="#">REN</a>
                                    <a class="dropdown-item" href="#">Mapas Mundiales</a>
                                    <a class="dropdown-item" href="#">Interes Global</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sitios de Interés
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="http://inegi.org.mx">INEGI</a>
                                    <a class="dropdown-item" href="https://datos.gob.mx/">DATOS ABIERTOS DE MÉXICO</a>
                                    <a class="dropdown-item" href="https://coneval.org.mx/Paginas/principal.aspx">CONEVAL</a>
                                    <a class="dropdown-item" href="https://www.gob.mx/sct">SECRETARIA DE COMUNICACIONES Y TRANSPORTES</a>
                                    <a class="dropdown-item" href="https://datos.bancomundial.org/">BANCO MUNDIAL</a>
                                    <a class="dropdown-item" href="https://siem.gob.mx/">SIEM</a>
                                    <a class="dropdown-item" href="https://www.indexmundi.com/">INDEXMUNDI</a>
                                    <a class="dropdown-item" href="https://www.undp.org/content/undp/es/home/sustainable-development-goals.html">OBJETIVOS DE DESARROLLO SUSTENTABLE</a>
                                    <a class="dropdown-item" href="http://www.mx.undp.org/">UNDP</a>
                                    <a class="dropdown-item" href="https://imco.org.mx/home/">IMCO</a>
                                    <a class="dropdown-item" href="http://www.banxico.org.mx/">BANXICO</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        <div class="row">
            <!--RenderBody manda llamar el contenido-->
            <div class="col-sm">
                @RenderBody()
            </div>
            <!--Publicidad lateral-->
            <div class="col-sm-3">
                <!--Redes sociales-->
                <div id="redes" class="text-center">
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.3"></script>
                    <div class="fb-page" data-href="https://www.facebook.com/spppnayarit/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/spppnayarit/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/spppnayarit/">
                                Secretaría de Planeación, Programación y Presupuesto de Nayarit
                            </a>
                        </blockquote>
                    </div>
                </div>
                <br />
                <div class="">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hoCWP08XqYQ?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <!-- Footer -->
    <footer style="background-color:darkslategray; width:100%; bottom: 0;" class="card-footer">
        <p class="text-white text-center">
            &copy; @DateTime.Now.Year - SISTEMA DE INFORMACIÓN ESTADÍSTICA Y GEOGRÁFICA DEL ESTADO DE NAYARIT
            AV. INSURGENTES ESQ. REY NAYAR S/N COL. BURÓCRATAS FED. C.P. 63156. TEPIC, NAYARIT. TEL. (311) 2119200. FAX 213 5471
        </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
