<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--banner de letras-->
    <nav class="text-xl-center">
        <div style="background-color:dimgrey">
            <img src="~/Content/imgs/SIEGEN_LETRAS.png" style="width:50%" />
        </div>
    </nav>
    <!--banner de logotipos-->
    <div class="text-xl-center">
        <img src="~/Content/imgs/banner_siegen2.jpg" style="width:50%" />
    </div>
    <!--Menú-->
    <nav class="text-xl-center">
        <div style="background-color:dimgrey">
            <img src="~/Content/imgs/SIEGEN_LETRAS.png" style="width:50%" />
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <nav style="background-color:darkslategray; width:100vw; position: fixed;
  bottom: 0; ">
        <p class="text-white text-center">
            &copy; @DateTime.Now.Year - SISTEMA DE INFORMACIÓN ESTADÍSTICA Y GEOGRÁFICA DEL ESTADO DE NAYARIT
            AV. INSURGENTES ESQ. REY NAYAR S/N COL. BURÓCRATAS FED. C.P. 63156. TEPIC, NAYARIT. TEL. (311) 2119200. FAX 213 5471
        </p>
    </nav>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
